lib1/lib1/schema/schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="Input">
    	<xsd:sequence>
    		<xsd:element name="id" type="xsd:string"></xsd:element>
    		<xsd:element name="message" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Output">
    	<xsd:sequence>
    		<xsd:element name="code" type="xsd:string"></xsd:element>
    		<xsd:element name="text" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="Input" type="Input"></xsd:element>

    <xsd:element name="Output" type="Output"></xsd:element>
</xsd:schema>